<div id='top-stories-buttons'>
    <a target="blank" id="btn-all-topics" class="btn">
        All topics
    </a>
    <a target="blank" id="btn-breaking-news" class="btn">
        Breaking news
    </a>
    <a target="blank" id="btn-free-speech-week" class="btn">
        'Free Speech Week'
    </a>
    <a target="blank" id="btn-protest-coverage" class="btn">
        Protest coverage
    </a>
    <a target="blank" id="btn-sexual-misconduct" class="btn">
        Sexual misconduct
    </a>
    <a target="blank" id="btn-opinion" class="btn">
        Opinion
    </a>
</div>
<div id='top-stories'></div>